In [1]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

In [2]:
ss = SparkSession.builder.getOrCreate()

In [3]:
df = ss.createDataFrame(
    data = [
        ('Jam', 5.62, '쥬스'),  
        ('Ham', 0.85, '우유')
    ]
    , schema = ["Name", "Amount", "Item"]
)

### DataFrame을 보여준다
```DataFrame.show()```

In [4]:
df.show()

+----+------+----+
|Name|Amount|Item|
+----+------+----+
| Jam|  5.62|쥬스|
| Ham|  0.85|우유|
+----+------+----+

### DataFrame의 스키마 정보를 보여준다
```DataFrame.printSchema()```

In [5]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Amount: double (nullable = true)
 |-- Item: string (nullable = true)

### DataFrame의 요약 통계를 보여준다
```DataFrame.describe().show()```

In [6]:
df.describe().show()

+-------+----+-----------------+----+
|summary|Name|           Amount|Item|
+-------+----+-----------------+----+
|  count|   2|                2|   2|
|   mean|null|            3.235|null|
| stddev|null|3.372899346259832|null|
|    min| Ham|             0.85|우유|
|    max| Jam|             5.62|쥬스|
+-------+----+-----------------+----+

### Column name을 바꾼다

```DataFrame.withColumnRenamed('old_name', 'new_name')```

In [24]:
rename_df = df.withColumnRenamed("Amount", "Price")

In [8]:
rename_df.show()

+----+-----+----+
|Name|Price|Item|
+----+-----+----+
| Jam| 5.62|쥬스|
| Ham| 0.85|우유|
+----+-----+----+

In [9]:
import import_ipynb
from utils import rename

importing Jupyter notebook from utils.ipynb

In [19]:
rename_df = rename(df, 'Amount', 'Price')
rename_df.show()

+----+-----+----+
|Name|Price|Item|
+----+-----+----+
| Jam| 5.62|쥬스|
| Ham| 0.85|우유|
+----+-----+----+

In [23]:
rename_df = rename(df, ['Name', 'Amount', 'Item'], ['고객명', '가격', '상품'])
rename_df.show()

+------+----+----+
|고객명|가격|상품|
+------+----+----+
|   Jam|5.62|쥬스|
|   Ham|0.85|우유|
+------+----+----+